.container {
  max-width: 100%; /* Change to allow responsiveness */
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.websiteImage {
  width: 100%;
  height: auto;
}

.mainHeading {
  font-size: 2rem; /* Adjusted font size for better readability */
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Example of specifying font family */
}

.boldSentences {
  font-weight: bold;
}

.miniHeading {
  font-size: 1.2rem; /* Adjusted font size */
  color: #555;
}

.websiteTextContent {
  font-size: 1rem; /* Adjusted font size */
  color: #666;
  line-height: 1.6;
}
