/* Service.css */

.icon-box {
  background-color: #ffffff;
  border: 2px solid #1bbd36; /* Border color */
  box-shadow: 0px 0px 10px rgba(27, 189, 54, 0.2); /* Shadow color */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.icon-box:hover {
  transform: scale(1.05);
}

.icon-box .icon {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
}

.icon-box .icon img {
  max-width: 100%;
  max-height: 100%;
}

.icon-box h4 {
  color: #333;
}

.icon-box p {
  color: #666;
}
